<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loomlogic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.LoomLogicApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".signin.SignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SignInTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SignInTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".signin.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SignInTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <data
                    android:host="resetpassword"
                    android:scheme="loomlogic" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.signup.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SignInTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".leads.create.CreateLeadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme" />
        <activity
            android:name=".leads.settings.EditLeadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme" />
        <activity
            android:name=".leads.create.SourceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".leads.create.StateListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".leads.create.SendToAgentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme" />
        <activity
            android:name=".leads.create.SendToLenderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme" />
        <activity
            android:name=".leads.create.AgentsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme" />
        <activity
            android:name=".leads.create.LendersListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme" />
        <activity
            android:name=".leads.list.LeadsFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".leads.settings.LeadSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".leads.settings.EditLeadContractActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppLighterTheme"/>
        <activity
            android:name=".leads.settings.FinancingTypesListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".leads.settings.ParticipantsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".leads.settings.ParticipantAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />




        <activity
            android:name=".Test"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"  />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="58fec32b72883b48a2ae92b0a1dc886eb91f7e22" />
    </application>

</manifest>